body {
  font-family: "Iosevka SS05 Web", monospace;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.content {
  padding: 1rem;
}

h2 {
  font-weight: 600;
  font-size: 18px;
  user-select: none;
}

a:visited,
a:active,
a {
  color: black;
}

em {
  font-weight: 500;
  border-bottom: 1px dotted black;
  background-color: #ececec;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }

  em {
    border-bottom: 1px dotted white;
    background-color: #222222;
  }

  a:visited,
  a:active,
  a {
    color: white;
  }
}
ul {
  padding: 0;
}

ul li {
  list-style: none;
}
li:before {
  content: "-> ";
}

li {
  margin-top: 16px;
  margin-bottom: 16px;
}

picture {
  height: auto;
  filter: grayscale(100%);
  transition: filter 800ms;
  user-select: none;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 9px;
  padding-rigth: 9px;
}

picture > img,
picture > source {
  max-width: 100%;
  object-fit: contain;
}

picture:hover {
  filter: grayscale(0%);
}

.img-row {
  width: 80%;
  max-width: 600px;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
}

.one-img {
  max-width: 400px;
}

.one-img img {
  padding-left: 0;
  padding-bottom: 0;
}

#time {
  user-select: none;
  height: 18px;
  line-height: 18px;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.footer {
  padding-left: 1rem;
}
