body {
  font-family: "Iosevka Web", monospace;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.content {
  padding: 1rem;
}

h1 {
  font-size: 22px;
}

h2 {
  font-weight: 500;
  font-size: 18px;
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
}

a:visited,
a:active,
a {
  color: black;
}
